/*GENERAL*/
.head1 {
    text-align: center;
    color: black;
    font-family: Calibri;
    font-style: italic;
    height: 1020px;
    background: 
    repeating-linear-gradient(-45deg,purple 0%, transparent 10%, violet 20%),
    repeating-linear-gradient(45deg,rgb(88, 9, 99) 0%,violet 10%,purple 20%);
    position: relative;
    animation: change 70s ease-in-out infinite;
    background-size: 400% 200%;
    transform: translate(-50% +50%);
}
html {
    scroll-behavior: smooth;
}


.box2 {
    color: black;
    font-family: Arial;
    font-style: normal;
    text-align: left;
    transition: all 1s;
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    width: 500px;
    padding: 4px;
    height: 100px;
}

.box2:hover {
    color:yellow;
    font-family: Arial;
    font-style: italic;
    margin-left: 100px;
    border: solid 2px;
    border-color: yellow;
    padding-left: 200px;
    background-color: purple;
    opacity: 80%;
}
.box3 {
    color: black;
    font-family: Arial;
    font-style: normal;
    text-align: left;
    transition: all 1s;
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    width: 500px;
    padding: 4px;
}

.box3:hover {
    color:yellow;
    font-family: Arial;
    font-style: italic;
    margin-left: 100px;
    border: solid 2px;
    border-color: yellow;
    padding-left: 200px;
    background-color: purple;
    opacity: 80%;
}
/*buttons*/
.but1 {
    height: 10px;
    width: 10px;
    border:solid 2px;
    border-color: white;
    transform: rotate(45.5deg);
    border-top: transparent;
    border-left: transparent;
    opacity: 20%;
}
.but1:hover {
    height: 15px;
    width: 15px;
    border:solid 3px;
    border-color: white;
    transform: rotate(45.5deg);
    border-top: transparent;
    border-left: transparent;
    opacity: 100%
    
}

/*TEXT*/
#text {
    height: 2280px;
    width: 1330px;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    margin-top: 250px;
    background-color: black;
    opacity: 90%;
    color: white;
    padding-bottom: 10px;
    margin: 10px;
}

#text1 {
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 19px;
}
#desc1 {
    padding-top: 250px;
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 19px;
}
#text2 {
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 19px;
}

#text3 {
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 19px;
}

#text_2 {
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 19px;
}

#gruppi {
    text-align: left;
    margin-left: 10px;
    font-family: Arial;
    font-size: 17px;
}


/* ANIMATION */
    @keyframes change {
        0%{
            background-position: 0 50%;
            
        }
        50%{
            background-position: 100% 50%;
        }
     100%{
            background-position: 0 50%;
        }
    }

    
    
   
    


